# Node modules
node_modules/

# Log dosyaları
logs/
*.log
npm-debug.log*
yarn-error.log*

# Env dosyası
.env

prisma/migrations/*/migration_lock.toml
prisma/migrations/**/*.lock

# IDE / OS dosyaları
.DS_Store
Thumbs.db
.vscode/
.idea/
