body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  background-color: #fafafa;
  background-image:
    repeating-linear-gradient(to right,
      transparent 0,
      transparent 24px,
      #e0e0e0 24px,
      #e0e0e0 25px),
    repeating-linear-gradient(to bottom,
      transparent 0,
      transparent 24px,
      #e0e0e0 24px,
      #e0e0e0 25px);
  background-size: 25px 25px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 90px;
  color: #333;
  font-weight: 300;
  font-size: 14px;
}

/* Sol taraftaki resim */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}

.image-content img {
  width: 350px;
  max-width: 100%;
  margin-right: 50px;
  animation: float 6s ease-in-out infinite; 
}

/* Sağ taraftaki auth box */
.auth-content {
  backdrop-filter: blur(1.5px);
  border-radius: 12px;
  border-left: 4px solid #cc0000;
  border-bottom: 4px solid #cc0000;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  width: 300px;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fc;
  backdrop-filter: blur(1.5px);
}

.form-box {
  display: none;
  width: 100%;
}

.form-box.active {
  display: block;
}

h2 {
  margin-top: 0;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.309), rgba(220, 220, 220, 0.4));
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12),
    inset 1px 1px 3px rgba(255, 255, 255, 0.5);
}


.login-content {
  margin-top: -70px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.form-input {
  width: 90%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
  background: #ffffffc0;
}

.form-input:focus {
  border-color: #cc0000;
  box-shadow: 0 0 4px rgba(204, 0, 0, 0.4);
}

.auth-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  margin-top: 15px;
  font-weight: bold;
  background: #cc0000;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.auth-btn:hover {
  background: #a50000;
}

.toggle-text {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.toggle-text a {
  color: #cc0000;
  font-weight: bold;
  text-decoration: none;
}

.toggle-text a:hover {
  text-decoration: underline;
}